language: shell
dist: xenial
os: linux
services:
  - docker
addons:
  apt:
    packages:
      - docker-ce


jobs:
  include:
    - name: build arm32v6
      env:
        - repo=lucashalbert/curl
        - docker_arch=arm32v6
        - qemu_arch=arm
        - image_arch=arm
    - name: build arm32v7
      env:
        - repo=lucashalbert/curl
        - docker_arch=arm32v7
        - qemu_arch=arm
        - image_arch=arm
    - name: build arm64v8
      env:
        - repo=lucashalbert/curl
        - docker_arch=arm64v8
        - qemu_arch=aarch64
        - image_arch=arm64
    - name: build i386
      env:
        - repo=lucashalbert/curl
        - docker_arch=i386
        - qemu_arch=i386
        - image_arch=i386
    - name: build amd64
      env:
        - repo=lucashalbert/curl
        - docker_arch=amd64
        - qemu_arch=x86_64
        - image_arch=amd64
    - name: build ppc64le
      env:
        - repo=lucashalbert/curl
        - docker_arch=ppc64le
        - qemu_arch=ppc64le
        - image_arch=ppc64le
    - name: build s390x
      env:
        - repo=lucashalbert/curl
        - docker_arch=s390x
        - qemu_arch=s390x
        - image_arch=s390x


before_script:
#  - START_TIME=$(date +"%Y%m%dT%H%M%S")
#  - echo "Start Time: ${START_TIME}"
#  - export build_date=${START_TIME}
  - docker run --rm --privileged multiarch/qemu-user-static:register
  - export ver=${ver:-$(curl -s "https://pkgs.alpinelinux.org/package/edge/main/x86_64/curl" | grep -A3 Version | grep href | sed 's/<[^>]*>//g' | tr -d " ")}

script:
  - ./travis.sh

after_script:
#  - END_TIME=$(date +"%Y%m%dT%H%M")
#  - echo "Build Start Time: ${START_TIME}"
#  - echo "Build End Time: ${END_TIME}"
#  - echo "Build Duration: $(($SECONDS / 60)) minutes $((${SECONDS} % 60)) seconds"
  - docker images

before_deploy:
  - docker run -rm ${repo}:${docker_arch}-${ver} https://httpbin.org/user-agent

deploy:
  provider: script
  script: ./travis-deploy.sh
  on:
    branch: master


after_deploy:
  - ./travis-manifest.sh



after_success:
  - echo "Build successful"
  
branches:
  only:
    - master
  except:
    - /^*-v[0-9]/
    - /^v\d.*$/
