language: shell
dist: xenial
os: linux
services:
  - docker
addons:
  apt:
    packages:
      - docker-ce

jobs:
  include:
  - stage: build_arm32v6
    env:
      - repo=lucashalbert/curl
      - docker_arch=arm32v6
      - qemu_arch=arm
      - image_arch=arm
  - stage: build_arm32v7
    env:
      - repo=lucashalbert/curl
      - docker_arch=arm32v7
      - qemu_arch=arm
      - image_arch=arm
  - stage: build_arm64v8
    env:
      - repo=lucashalbert/curl
      - docker_arch=arm64v8
      - qemu_arch=aarch64
      - image_arch=arm64
  - stage: build_i386
    env:
      - repo=lucashalbert/curl
      - docker_arch=i386
      - qemu_arch=i386
      - image_arch=i386
  - stage: build_amd64
    env:
      - repo=lucashalbert/curl
      - docker_arch=amd64
      - qemu_arch=x86_64
      - image_arch=amd64
  - stage: build_ppc64le
    env:
      - repo=lucashalbert/curl
      - docker_arch=ppc64le
      - qemu_arch=ppc64le
      - image_arch=ppc64le
  - stage: build_s390x
    env:
      - repo=lucashalbert/curl
      - docker_arch=s390x
      - qemu_arch=s390x
      - image_arch=s390x

before_script:
  - docker run --rm --privileged multiarch/qemu-user-static:register
  - export ver=${ver:-$(curl -s "https://pkgs.alpinelinux.org/package/edge/main/x86_64/curl" | grep -A3 Version | grep href | sed 's/<[^>]*>//g' | tr -d " ")}

script:
  - ./travis.sh

after_script:
  - docker images

before_deploy:
  - ./travis-tag.sh

deploy:
  provider: script
  script:
    - ./travis-deploy.sh
  on:
    branch: master


after_deploy:


after_success:

branches:
  only:
    - master
  except:
    - /^*-v[0-9]/
    - /^v\d.*$/
